/* page resets */
html {
    box-sizing: border-box;
}
  
*, *::after, *::before {
    box-sizing: inherit
}
  
/* general  */
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 1fr;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* header */
header {
    background-color: #0f0f0f;
    color: rgb(133, 13, 13);
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vmin;
}


/* main */
main {
    height: 100%;
    grid-row: 2 / 3;
    background-color: rgb(133, 13, 13);
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameBoard {
    display: grid;
    aspect-ratio: 1;
    height: 70vmin;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    color: white;
    margin: 10px;
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.col {
    background-color: #0f0f0f;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15vmin;
}

footer {
    grid-row: 3;
    background-color: #0f0f0f;
    color: rgb(133, 13, 13);
}


/* winner display */
.winnerDisplay {
    position: absolute;
    background-color: rgba(15, 15, 15, 0.9);
    color: white;
    z-index: 1;
    aspect-ratio: 1;
    height: 70vmin;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 9vmin;
    text-align: center;
}

.winnerDisplay > h1 {
    margin: 10px;
}

.winnerDisplay > button {
    margin: 0;
    font-size: 2rem;
    cursor: pointer;
    background-color: rgb(133, 13, 13);
    color: white;
}

.winnerDisplay > button:hover {
    color: black;
}